html {
	font-family: Arial;
	font-size: larger;
	padding: 2em;
}

main {
	padding: 2em;
	width: 10em;
	background-color: rgba(0,0,0,0.1);
}

main input {
	width: 100%;
	box-sizing: border-box;
}

* {
	font-family: inherit;
	font-size: inherit;
}

.ng-dirty.ng-invalid {
	border-color: red;
}